<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for using Alarm Manager to wake the device -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Permission for accessing the internet (if sharing requires a URL) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Permission to read the state of the network (optional, for sharing or any network-related tasks) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".ProviderHomeActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".UserAssessmentActivity" />
        <activity android:name=".UserExerciseActivity" />
        <activity android:name=".UserHistoryActivity" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".ProviderAddClientActivity" />
        <activity android:name=".ProviderRemoveClientActivity"></activity>
        <activity android:name=".ProviderSettingsActivity"></activity>
        <activity android:name=".ProviderViewClientsActivity"></activity>

    </application>

</manifest>